.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.loading {
  color: white;
}

.loading span {
  animation: blink 1s infinite alternate;
  color: white;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%{ opacity: 0};
  100%{opacity: 1};
}


.carousel__image {
  transition: opacity 0.5s ease-in-out;
  height: 300px;
  object-fit: contain;
  width: 100%;
  display: block;
}

.arousel__images_container{
  width: 100%;
  object-fit: contain;
}

.carousel__button {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
  margin: 24px;
}

.prev {
  transform: rotate(0deg);
}

.prev:hover {
  transform: translateX(-2px) rotate(0deg);
}

.prev:active {
  transform: translateX(-15px) rotate(0deg);
}

.next {
  transform: rotate(180deg);
}

.next:hover {
  transform: translateX(2px) rotate(180deg);
}

.next:active {
  transform: translateX(15px) rotate(180deg);
}


@keyframes right {
  0%{
    transform: translateX(0px)
  }
  50%{
    transform: translateX(20px)
  }
  100%{
    transform: translateX(0px)
  }
}

@keyframes left {
  0%{
    transform: translateX(0px)
  }
  50%{
    transform: translateX(-20px)
  }
  100%{
    transform: translateX(0px)
  }
}
