@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.app {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(45deg, #c9e5e6, #eaf9f2, #fcd4df, #ffcce6);
  background-size: 400% 400%;
  animation: shift 20s ease infinite;
}

.app__main{
  height: 100%;
}

@keyframes shift {
  0%   { background-position: 0%   50%; }
  25%  { background-position: 50%  0%;  }
  50%  { background-position: 100% 50%; }
  75%  { background-position: 50%  100%;}
  100% { background-position: 0%   50%; }
}