.main {
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.main__find {
  font-size: 240px;
  margin: 0;
  line-height: 0.7;
}

.main__subtitle {
  font-size: 12vw;
  margin: 0;
  width: 100%;
  text-align: center;
}

.main__continue {
  background-color: black;
  width: fit-content;
  padding: 4px;
  color: white;
  font-family: "DotGothic16", sans-serif;
  cursor: pointer;
  margin: 48px;
  transition: transform 0.1s ease-in-out;
}

.main__continue {
  border-style: none;
  background-color: white;
  border-width: 130%;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 42px;
}

.main__continue:hover {
  border-style: none;
  background-color: red;
  border-width: 130%;
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
}




.main__image {
  max-width: 20%;
}
